<header style="background-color: #212529;">
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <button type="button" class="btn btn-outline-dark text-white">
                            <a href="/" class="nav-link text-white">
                                Home
                            </a>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-dark text-white">
                            <a href="/" class="nav-link text-white">
                                Dashboard
                            </a>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-outline-dark text-white">
                            <a href="/" class="nav-link text-white">
                                Orders

                            </a>
                        </button>
                    </li>
                    <li style="margin-top: 8px;">
                        <form action="/" method="get" class="dropdown">
                            <button type="button" class="btn btn-outline-dark text-white dropdown-toggle" data-bs-toggle="dropdown">
                                Type
                            </button>
                            <ul class="dropdown-menu">
                                {% for t in types %}
                                <li>
                                    <label style="width: 100%;">
                                        <input type="checkbox" name="type" value="{{ t.type }}"> {{ t.type }}
                                    </label>
                                </li>
                                {% endfor %}
                                <button class="btn btn-outline-info" type="submit">Filter</button>
                            </ul>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav me-auto">
                        {% for c in categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ c.name }}</a>
                        </li>
                        {% endfor %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/">
                                <img src="{{ current_user.avatar }}" width="25" class="rounded-circle" />
                                {{ current_user.name }}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="/logout">Đăng xuất</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-danger" href="/login">Đăng nhập</a>
                        </li>
                        {% endif %}
                    </ul>
                    <form method="get" action="/" class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Tìm sản phẩm..." name="kw">
                        <button class="btn btn-primary" type="button">Tìm</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>