{% extends 'layout/base.html' %}
{% block content %}

<body class="book-detail-body">
    <div class="book-detail-container">
        <!-- Phần chi tiết sách -->
        <div class="book-detail-main">
            <img src="{{ book.image }}" alt="Ảnh sách" class="book-detail-image">
            <div class="book-detail-info">
                <h1 class="book-detail-title">{{ book.name }}</h1>
                <p class="book-detail-author"><strong>Tác giả:</strong> {{ book.author.name }}</p>
                <p class="book-detail-category"><strong>Thể loại:</strong> {{ book.category.name }}</p>
                <p class="book-detail-stock"><strong>Số lượng trong kho:</strong> {{ book.inventoryQuantity }}</p>
                <p class="book-detail-price">Giá: {{ book.price|currency }}</p>
                <button class="book-detail-add-cart"
                    onclick="addToCart({{ book.id }}, '{{ book.name }}', '{{ book.author.name }}', 
                    '{{ book.category.name }}', '{{ book.image }}', {{ book.price }}, '{{ current_user.is_authenticated }}')">
                    Thêm vào giỏ hàng
                </button>
            </div>
        </div>
        <!-- Phần bình luận -->
        <div class="book-detail-reviews">
            <h2 class="book-detail-reviews-title">Đánh giá sản phẩm</h2>
            <div class="book-detail-review-box" id="comments">
                {% for c in book.comments %}
                <div class="book-detail-review">
                    <img src="{{ c.customer.user.avatar }}" alt="User Avatar" class="book-detail-avatar">
                    <div class="book-detail-review-content">
                        <p class="book-detail-review-name">{{ c.customer.user.name }}</p>
                        <p>{{ c.content }}</p>
                        <p class="book-detail-review-time">{{ c.created_date }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% if current_user.is_authenticated %}
            <div class="mt-2">
                <textarea class="form-control" rows="5" id="comment" name="text"
                    placeholder="Đánh giá sản phẩm"></textarea>
                <button class="btn btn-success mt-1" onclick="addComment({{ book.id }})">Đánh giá</button>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn cần đăng nhập để tiếp tục mua sắm.
                </div>
                <div class="modal-footer">
                    <a type="button" href="/register" class="btn btn-secondary">Đăng ký</a>
                    <a type="button" href="/login?next=/books/{{ book.id }}" class="btn btn-primary">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("book-detail-review-time");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow();
    }
</script>
{% endblock %}