{% extends 'layout/base.html' %}
{% block content %}

<body class="detail-order-body">
    <div class="detail-order-container">
        <h2 class="detail-order-heading">Chi tiết đơn hàng</h2>
        <table class="table detail-order-table table-bordered table-striped">
            <thead class="detail-order-thead">
                <tr>
                    <th scope="col">Mã sách</th>
                    <th scope="col">Tên sách</th>
                    <th scope="col">Hình ảnh</th>
                    <th scope="col">Giá sách (VND)</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Tổng giá sách (VND)</th>
                </tr>
            </thead>
            <tbody>
                {% for do in detailOrder %}
                <tr>
                    <td>{{ do.id }}</td>
                    <td>{{ do.name }}</td>
                    <td><img src="{{ do.image }}" alt="Book 1" class="detail-order-book-image"></td>
                    <td>{{ do.price|currency }}</td>
                    <td>{{ do.quantity }}</td>
                    <td>{{ do.total_price|currency }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="detail-order-tfoot">
                <tr>
                    <td colspan="5" class="detail-order-text-end"><strong>Tổng số tiền (VND):</strong></td>
                    <td>{{ total|currency }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</body>
{% endblock %}