{% extends 'layout/base.html' %}

{% block content %}
<div class="row content">
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2">All</a></li>
        {% for c in cates %}
        <li><a href="/?category={{ c.id }}" class="nav-link px-2">{{ c.name }}</a></li>
        {% endfor %}
    </ul>
    {% if alert %}
    <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert">
        {{ alert }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if books %}
    <ul class="pagination mt-1">
        {% for i in range (1, pages + 1) %}
        <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
    </ul>
    {% for book in books %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="product-item">
            <figure class="product-style">
                <img src="{{ book.image }}" alt="{{ book.name }}" class="img-fluid w-100">
                <button type="button" class="add-to-cart" data-product-tile="add-to-cart"
                    onclick="addToCart({{ book.id }}, '{{ book.name }}', '{{ book.author.name }}', 
                    '{{ book.category.name }}', '{{ book.image }}', {{ book.price }}, '{{ current_user.is_authenticated }}')">
                    Mua ngay
                </button>
            </figure>
            <figcaption>
                <h3>{{ book.name }}</h3>
                <span>{{ book.author.name }}</span>
                <div class="item-price">{{ book.price|currency }}</div>
            </figcaption>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info mt-1">Không có sản phẩm nào!</div>
    {% endif %}
    <div class="modal fade" id="authModal" tabindex="-1" aria-labelledby="authModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="authModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Bạn cần đăng nhập để tiếp tục mua sắm.
                </div>
                <div class="modal-footer">
                    <a type="button" href="/register" class="btn btn-secondary">Đăng ký</a>
                    <a type="button" href="/login" class="btn btn-primary">Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}