{% extends 'layout/base.html' %}

{% block content %}
<div class="row content">
    {% if books %}
    {% for book in books %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="product-item">
            <figure class="product-style">
                <img src="{{ book.image }}" alt="{{ book.name }}" class="img-fluid w-100">
                <button
                    type="button"
                    class="add-to-cart"
                    data-product-tile="add-to-cart"
                    onclick="addToCart({{ book.id }}, '{{ book.name }}', '{{ book.author.name }}', 
                    '{{ book.category.name }}', '{{ book.image }}', {{ book.price }})">
                    Add to Cart
                </button>
            </figure>
            <figcaption>
                <h3>{{ book.name }}</h3>
                <span>{{ book.author.name }}</span>
                <div class="item-price">{{ book.price|currency }}</div>
            </figcaption>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="alert alert-info mt-1">Không có sản phẩm nào!</div>
    {% endif %}
</div>
{% endblock %}