{% extends 'layout/base.html' %}
{% block content %}
<div class="container mt-4">
    <!-- Tabs -->
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="/order_online">Đơn hàng đã đặt online</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/unplaced_order">Đơn hàng chưa đặt trước</a>
        </li>
    </ul>
    <!-- Date Range -->
    <div class="row g-3 mb-4 align-items-end">
        <!-- Search -->
        <form class="col-auto ms-auto d-flex align-items-center">
            <input type="search" name="kw" class="form-control me-2" style="width: 200px;" placeholder="Nhập Mã Đơn Hàng...">
            <button class="btn btn-primary" type="submit">Tìm kiếm</button>
        </form>
    </div>
    <!-- Card Body -->
    <div class="card">
        <div class="card-header">
            <h5>Danh sách đơn hàng</h5>
        </div>
        <div class="card-body">
            <!-- Nội dung bảng -->
            <table id="advanced_table" class="table-list-order table-striped">
                <thead>
                    <tr>
                        <th class="nosort">Order ID</th>
                        <th class="customer-id">Mã khách hàng</th>
                        <th>Ngày đặt</th>
                        <th>Ngày lấy</th>
                        <th>Trạng thái</th>
                        <th>Tổng tiền</th>
                        <th class="settings-header">Cài đặt</th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in orders %}
                    <tr>
                        <td>{{ o.id }}</td>
                        <td>{{ o.customer_id }}</td>
                        <td>{{ o.createdDate }}</td>
                        <td>{{ o.pickupDate }}</td>
                        {% if o.isPay == True %}
                        <td><span class="badge bg-success">Đã thanh toán</span></td>
                        {% else %}
                        <td><span class="badge bg-warning">Chưa thanh toán</span></td>
                        {% endif %}
                        <td>$320.80</td>
                        <td>
                            <!-- Dropdown for settings -->
                            <div class="dropdown">
                                <button class="btn btn-light btn-sm" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="bi bi-three-dots-vertical"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                                    <li>
                                        <button class="dropdown-item" onclick="printInvoice()">In hóa đơn</button>
                                    </li>
                                    <li>
                                        <button class="dropdown-item" onclick="orderDetail()">
                                            Chi tiết đơn hàng
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}