{% extends 'layout/base.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Thay đổi thông tin giao hàng</h2>
    <form id="profileForm" class="mt-4">
        <div class="mb-3">
            <label for="name" class="form-label">Tên</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ current_user.name }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ current_user.email }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Địa chỉ</label>
            <input type="email" class="form-control" id="address" name="address" value="{{ current_user.customer.address }}" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Số điện thoại</label>
            <input type="tel" class="form-control" id="phone" name="phone" value="{{ current_user.customer.phone }}"
                required>
        </div>
        <button type="button" class="btn btn-primary w-100" onclick="saveChanges()">Lưu thay đổi</button>
    </form>
</div>

<!-- Toast notification -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="toastMessage" class="toast align-items-center text-bg-success border-0" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                Thông tin đã được cập nhật thành công!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                aria-label="Close"></button>
        </div>
    </div>
</div>
{% endblock %}